// @deprecated: Do not use CSS module, use *.scss instead

@use '../../styles/colours';
@use '../../styles/sizes';
@use '../../styles/typography';
@import '~include-media/dist/include-media';

.GenericBlock {
	padding: sizes.$XL sizes.$XXXXXXL;
	max-width: sizes.$maxSize;
	width: 100%;

	@include media('<tablet') {
		padding: sizes.$XL sizes.$M;
	}

	&.Metadata {
		padding-bottom: 0;
		margin-top: sizes.$XXXXXL;

		@include media('<tablet') {
			margin-top: sizes.$XL;
		}
	}

	&.Content {
		p {
			@extend %text-normal;
			margin: sizes.$XL 0;
		}

		figure {
			overflow: hidden;
			margin: 0;

			figcaption {
				background: colours.$grey-900;
				color: colours.$grey-100;
				font-size: typography.$font--M;
				font-weight: typography.$semiBold;
				padding: sizes.$XS sizes.$M;
			}
		}
	}

	&.Extra {
		padding-top: 0;
	}
}

.Author {
	margin-top: sizes.$M;
}

.Categories {
	margin-top: sizes.$M;
}

.FeaturedImage {
	margin-top: sizes.$XXL;
}

.MainContent {
	display: flex;
	justify-content: center;
	margin-bottom: sizes.$XXXXXXL;
}

.ShareButtons {
	margin-top: sizes.$XL;
}

.ShareButtonsSeconday {
	margin-bottom: sizes.$XXL;
}

h1.Title {
	margin-top: sizes.$XL;
}
