@use '../../styles/colours';
@use '../../styles/typography';
@use '../../styles/sizes';

.Badge {
	@extend %text-badge;

	align-items: center;
	background: colours.$primary-500;
	border-radius: sizes.$XXS;
	color: colours.$grey-100;
	display: inline-flex;
	height: sizes.$XXL;
	padding: 0 sizes.$M;
}
