@use '../../styles/colours';
@use '../../styles/sizes';
@use '../../styles/typography';

@mixin onHover($colour, $defaultColour: $colour) {
	color: $defaultColour;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			background: $colour;
			color: white;
		}
	}

	&:active {
		background: $colour;
		color: white;
	}
}

.ShareButtonsContainer {
	align-items: center;
	display: flex;

	.ShareText {
		margin-right: sizes.$XXS;
	}

	.NativeShare {
		@extend %heading;
		font-weight: typography.$semiBold;

		align-items: center;
		background-color: colours.$blue-300;
		border-radius: sizes.$XXS;
		display: inline-flex;
		justify-content: center;
		height: sizes.$XXXL;
		margin-right: sizes.$S;
		padding: 0 sizes.$M;

		&:hover {
			cursor: pointer;
		}

		@include onHover(colours.$blue-700, colours.$grey-100);
	}

	.ShareButton {
		align-items: center;
		border-radius: sizes.$XXS;
		display: inline-flex;
		justify-content: center;
		height: sizes.$XXXL;
		width: sizes.$XXXL;

		&:hover {
			cursor: pointer;
		}

		&.Email {
			@include onHover(colours.$primary-500);
		}

		&.Facebook {
			@include onHover(colours.$Facebook);
		}

		&.Line {
			@include onHover(colours.$Line);
		}

		&.Link {
			@include onHover(colours.$primary-500);
		}

		&.Messenger {
			@include onHover(colours.$Messenger);
			// background: colours.$Messenger--gradient; // on hover
		}

		&.Twitter {
			@include onHover(colours.$Twitter);
		}

		&.WhatsApp {
			@include onHover(colours.$WhatsApp);
		}
	}
}
