$grey-100: var(--grey-100);
$grey-300: var(--grey-300);
$grey-500: var(--grey-500);
$grey-700: var(--grey-700);
$grey-900: var(--grey-900);

$blue-100: var(--blue-100);
$blue-300: var(--blue-300);
$blue-500: var(--blue-500);
$blue-700: var(--blue-700);
$blue-900: var(--blue-900);

$yellow-100: var(--yellow-100);
$yellow-300: var(--yellow-300);
$yellow-500: var(--yellow-500);
$yellow-700: var(--yellow-700);
$yellow-900: var(--yellow-900);

$red-100: var(--red-100);
$red-300: var(--red-300);
$red-500: var(--red-500);
$red-700: var(--red-700);
$red-900: var(--red-900);

$primary-100: var(--primary-100);
$primary-300: var(--primary-300);
$primary-500: var(--primary-500);
$primary-700: var(--primary-700);
$primary-900: var(--primary-900);

// Brands
$Facebook: #1877f2;
$Line: #06c755;
$Messenger: #0a7cff;
$Messenger--gradient: linear-gradient(45deg, #0a7cff 0%, #a10eeb 60%, #ff5297 93%, #ff6c5c 100%);
$Twitter: #1d9bf0;
$WhatsApp: #25d366;
