$XXXS: var(--XXXS); // 2
$XXS: var(--XXS); // 4
$XS: var(--XS); // 8
$S: var(--S); // 12
$M: var(--M); // 16
$L: var(--L); // 20
$XL: var(--XL); // 24
$XXL: var(--XXL); // 32
$XXXL: var(--XXXL); // 40
$XXXXL: var(--XXXXL); // 48
$XXXXXL: var(--XXXXXL); // 64

$XXXS--em: var(--XXXS--em); // 2
$XXS--em: var(--XXS--em); // 4
$XS--em: var(--XS--em); // 8
$S--em: var(--S--em); // 12
$M--em: var(--M--em); // 16
$L--em: var(--L--em); // 20
$XL--em: var(--XL--em); // 24
$XXL--em: var(--XXL--em); // 32
$XXXL--em: var(--XXXL--em); // 32
$XXXXL--em: var(--XXXXL--em); // 32
$XXXXXL--em: var(--XXXXXL--em); // 32
