@use 'sizes';

$thin: 100;
$extraLight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

$font--XS: sizes.$XS;
$font--S: sizes.$S;
$font--M: sizes.$M;
$font--L: sizes.$L;
$font--XL: sizes.$XL;
$font--XXL: sizes.$XXL;

$font--headings: 'Anuphan', 'Noto Sans Thai UI', 'Noto Sans Thai', 'Noto Sans', Helvetica, Arial, sans-serif;
$font--text: 'Prajad', 'Thonburi', Helvetica, Arial, sans-serif;

%heading {
	font-family: $font--headings;
}

%text {
	font-family: $font--text;
}

%heading-1 {
	@extend %heading;
	font-size: $font--XL;
	font-weight: $semiBold;
	margin: 0;
}

%heading-2 {
	@extend %heading;
	font-size: $font--L;
	font-weight: $semiBold;
}

%heading-3 {
	@extend %heading;
	font-size: $font--M;
	font-weight: $medium;
}

%subHeading {
	@extend %heading;
	font-size: $font--S;
	font-weight: $medium;
}

%text-normal {
	@extend %text;
	// Desktop @1.25rem
	font-size: $font--L;
	font-weight: $normal;
	letter-spacing: 0.01em;
	line-height: 160%;
}

%text-badge {
	@extend %heading-3;
}

%text-small--S {
	@extend %heading;
	font-size: $font--S;
	font-weight: $normal;
}

%text-small--XS {
	@extend %heading;
	font-size: $font--XS;
	font-weight: $normal;
}
