$thin: 100;
$extraLight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$font--headings: 'Anuphan', 'Noto Sans Thai UI', 'Noto Sans Thai', 'Noto Sans', Helvetica, Arial, sans-serif;
