@import 'typography';

@import 'font-anuphan.scss';
@import 'font-prajad.scss';
@import 'lists.scss';

:root {
	font-size: 100%;

	// Sizes
	--size-max: 64rem;

	--XXXS: 0.125rem;
	--XXS: 0.25rem;
	--XS: 0.5rem;
	--S: 0.75rem;
	--M: 1rem;
	--L: 1.25rem;
	--XL: 1.5rem;
	--XXL: 2rem;
	--XXXL: 2.5rem;
	--XXXXL: 3rem;
	--XXXXXL: 4rem;
	--XXXXXXL: 8rem;
	--XXXXXXXL: 16rem;

	--XXXS--em: 0.125em;
	--XXS--em: 0.25em;
	--XS--em: 0.5em;
	--S--em: 0.75em;
	--M--em: 1em;
	--L--em: 1.25em;
	--XL--em: 1.5em;
	--XXL--em: 2em;
	--XXXL--em: 2.5em;
	--XXXXL--em: 3em;
	--XXXXXL--em: 4em;
	--XXXXXXL--em: 8em;
	--XXXXXXXL--em: 16em;

	// Colours Definitions
	--grey-100: hsl(0, 0%, 98%);
	--grey-300: hsl(0, 0%, 76%);
	--grey-500: hsl(0, 0%, 45%);
	--grey-700: hsl(0, 0%, 14%);
	--grey-900: hsl(0, 0%, 1%);

	--blue-100: hsl(229, 59%, 48%);
	--blue-300: hsl(230, 76%, 41%);
	--blue-500: hsl(230, 78%, 32%);
	--blue-700: hsl(229, 81%, 25%);
	--blue-900: hsl(228, 85%, 18%);

	--yellow-100: hsl(52, 100%, 72%);
	--yellow-300: hsl(52, 89%, 61%);
	--yellow-500: hsl(52, 86%, 49%);
	--yellow-700: hsl(52, 93%, 37%);
	--yellow-900: hsl(52, 100%, 28%);

	--red-100: hsl(7, 82%, 55%);
	--red-300: hsl(7, 82%, 53%);
	--red-500: hsl(7, 74%, 46%);
	--red-700: hsl(7, 76%, 36%);
	--red-900: hsl(8, 79%, 27%);

	// Variablised Colours
	--primary-100: var(--blue-100);
	--primary-300: var(--blue-300);
	--primary-500: var(--blue-500);
	--primary-700: var(--blue-700);
	--primary-900: var(--blue-900);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

p {
	@extend %text-normal;
}
