@use '../../styles/animations';
@use '../../styles/colours';
@use '../../styles/sizes';
@use '../../styles/typography';
@import '~include-media/dist/include-media';

#GenericArchive {
	display: flex;
	justify-content: center;
	margin-bottom: sizes.$XXXXXXL;
}

#GenericArchiveContent {
	padding: sizes.$XL 0;
	max-width: sizes.$maxSize;
	width: 100%;

	@include media('<tablet') {
		padding: sizes.$XL sizes.$M;
	}

	.ArticleCard {
		display: block;
		margin-top: sizes.$XXXL;
		text-decoration: none;
		color: unset;

		& .FlexibleArticleCard {
			transition: all animations.$timing--normal;
		}

		&:hover .FlexibleArticleCard {
			transform: scale(1.0625);
		}
	}
}
