@use '../../styles/sizes';
@use '../../styles/typography';
@import '~include-media/dist/include-media';

.GenericBlock {
	padding: sizes.$XL sizes.$XXXXXXL;
	max-width: sizes.$maxSize;
	width: 100%;

	@include media('<tablet') {
		padding: sizes.$XL sizes.$M;
	}

	&.Metadata {
		padding-bottom: 0;
		margin-top: sizes.$XXXXXL;

		@include media('<tablet') {
			margin-top: sizes.$XL;
		}
	}

	&.Content {
		// Why?
		padding-top: sizes.$XL;
	}

	&.Extra {
		padding-top: 0;
	}
}

.Author {
	margin-top: sizes.$M;
}

.Categories {
	margin-top: sizes.$M;
}

.FeaturedImage {
	margin-top: sizes.$XXL;
}

.MainContent {
	display: flex;
	justify-content: center;
	margin-bottom: sizes.$XXXXXXXL;
}

h1.Title {
	margin-top: sizes.$XL;
}

p {
	@extend %text-normal;
}
