@use '../../styles/colours';
@use '../../styles/sizes';
@use '../../styles/typography';

@import '~include-media/dist/include-media';

#Footer {
	background-color: colours.$primary-900;
	display: flex;
	justify-content: center;
	padding: sizes.$XXXXXL 0 sizes.$XXXXXXL;

	@include media('<desktop') {
		padding: sizes.$XXXXXL sizes.$XXL sizes.$XXXXXXL;
	}
}

#FooterJustifier {
	max-width: sizes.$maxSize;
	width: 100%;
}

#FooterBrand {
}

#FooterBrandName {
	@extend %heading;
	color: colours.$grey-100;
	margin-top: sizes.$S;

	&--TH {
		font-size: typography.$font--XL;
		font-weight: typography.$semiBold;
	}

	&--EN {
		font-size: calc(0.75 * #{typography.$font--XL});
		margin-top: sizes.$XXXS;
	}
}

#FooterCopyright {
	@extend %heading;
	color: colours.$grey-100;
	margin-top: sizes.$XXXXL;

	&__Text {
		font-size: typography.$font--M;
		font-weight: typography.$semiBold;
	}

	&__Notice {
		font-size: typography.$font--S;
		margin-top: sizes.$XS;
	}
}

#FooterLogoContainer {
	height: auto;
	width: calc(1.5 * #{sizes.$XXXXXL});
	margin-left: -0.6rem;
}

#FooterLogo {
	width: 100%;
}
